<h1>Eat the burgers!</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        {{#each burgers}}
          {{#unless devoured}}
            <div>
              <form action="/burgers{{id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerAvailable'> {{name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="col s6">
        {{#each burgers}}
          {{#if devoured}}
            <div class='burgerEaten'>
              <div>
                {{name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Add A Burger Option</h2>

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Uber Delicious Burger">
      <button type="submit" class="addBurgerButton">Add The Burger</button>
    </form>
  </div>
</div>