body {
  font-family: 'Germania One', cursive;
  width: 80%;
  background-image: url('../images/happierburger.jpg');
}

#name {
  background: black;
  color: white;
  font-size: x-large;
}

.addBurgerButton {
  width: 150px;
  font-size: large;
}

#eaten,
#noteaten {
  font-size: 22px;
}